 @import url("https://use.typekit.net/cbc0qhs.css");

 * {
     box-sizing: border-box;
 }

 html {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
     background-color: #FDF6EC;
     overflow-x: hidden;
 }

 body {
     margin: 0;
     padding: 0;
     background-image: url(../img/mobile-background-single-room.svg);


 }


 img {

     max-width: 100%;
     height: auto;
 }

 #wrapper {
     background: rgba(255, 255, 255, 0.8);


 }

 #packge {
     margin: 2rem;

 }

 /*******************************************************Navigation Start***************************/
 header {
     display: grid;
     grid-template-columns: 100px 1fr;
     margin: 2rem 1rem 0;
 }

 header h1 {
     background-image: url(../img/logo-BP.svg);
     background-repeat: no-repeat;
     width: 58px;
     height: 61px;
     text-indent: -9999999989px;
     margin: 0;
     padding: 0;

 }

 .desc-nav {

     font-size: 0;
 }

 svg {
     justify-self: right;
     z-index: 10;
     cursor: pointer;
     width: 50px;
     margin-top: 25px;
 }

 nav {
     position: absolute;
     right: -100vw;
     top: 0;
     width: 100vw;
     height: 100vh;
     background-color: white;
     transition: transform 2s;
     overflow: hidden;


 }

 #booking {
     margin-top: 6rem;
 }

 .move {
     transform: translateX(-100vw);
     overflow: hidden;
 }

 nav a {
     display: block;
     text-decoration: none;
     color: #3E3445;
     margin-top: 4rem;
     margin-left: 1rem;
     font-size: 2rem;
     transition: all 0.5s ease-in-out;

 }

 nav a:hover {
     color: #ED4255;
     font-weight: 600;
     overflow: hidden;
 }


 /****************************BURGER MENU*******************************/
 svg rect {
     transition: all 0.3s;
     transform-origin: center;
 }

 .open rect:first-child {
     transform: translateY(30px);
     opacity: 0;
 }

 .open rect:nth-child(2),
 .open rect:nth-child(3) {
     transition-delay: 0.3s;
 }

 rect:nth-child(2),
 rect:nth-child(3) {
     transition-delay: 0s;
 }

 .open rect:nth-child(2) {
     transform: rotate(45deg);
     transform-origin: center;
 }

 .open rect:nth-child(3) {
     transform: rotate(-45deg);
     transform-origin: center;
 }

 .open rect:last-child {
     transform: translateY(-30px);
     opacity: 0;
 }

 /****************************BURGER MENU END*******************************/
 /********************************************************NavigationEnd***************************/

 /********************************************************Single Room Start***************************/

 .roomnumber {
     font-size: 3rem;
     font-family: calder-dark-grit, sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .box {
     display: flex;
     flex-direction: row;
     margin: auto;
 }

 .box p {
     border: solid 5px #ED4255;
     padding: 0.5rem;
     border-radius: 10px;
     margin-right: 5px;
 }
.reservebtn{
border: solid 3px #3E3445;
    text-align: center;
      box-shadow:  0 5px 10px #999;
     border-radius: 7px;
     max-height: 3rem;
    background-color: #3E3445;
     padding: 1rem;
     letter-spacing: 2px;
     text-transform: uppercase;
    margin-top: 1.5rem;
     color: #FDF6EC;
}
.reservebtn:hover{
    box-shadow: inset 0 5px 10px #999;
 background-color: #FDF6EC;
    font-weight: bold;
     color: #3E3445;}

 /********************************************************Single Rooms End***************************/
 /********************************************************Pictures Start***************************/
 .img-room {
     margin: 0;

     border-radius: 10px;
     margin-bottom: 1rem;

 }

 .pictures-display {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
     gap: 1.5rem;
     margin-top: 5rem;
 }
/******************************************************** Footer Start ***************************/

footer{
  display: grid;
 grid-column: 1/-1background-color: #3E3445;
    background-color: #3E3445;
    color:#FCEDD9;

}
footer ul {
    margin:50px 150px 25px;}

footer ul li{
    text-decoration: none;
    list-style: none;
    font-weight: lighter;
    padding: 0.5rem;

}
.fab{
    margin-right: 5px;
}


/******************************************************** Footer End ***************************/
 /********************************************************Pictures End***************************/
 /********************************************************DESCTOP VRESION START***************************************************************/

 @media only screen and (min-width: 1035px) {
     body {
         background-image: url(../img/single-room-background.svg);
         background-repeat: no-repeat;
     }

     #packge {
         background: rgba(255, 255, 255, 0.8);
         margin: 200px 125px 0;
     }

     main {
         margin-top: 100px;
     }

     h3 {
         padding-top: 2rem;
     }

     main,
     .pictures {
         margin-left: 125px;
         margin-right: 125px;
     }

     /********************************************************DEsctop Navigation Start***************************/
     /********************************************************DEsctop Navigation Start***************************/

     header {
         display: block;
         margin: 2rem 250px 0;
     }

     .logo {
         display: flex;
         justify-content: space-between;
         align-items: center;
     }

     header h1 {
         background-image: url(../img/logo-large-dark.svg);
         background-repeat: no-repeat;
         width: 146px;
         height: 155px;
         text-indent: -9999999989px;
         margin: 10px;
         padding: 0;

     }

     nav,
     svg {
         display: none;
     }

     .desc-nav {
         font-size: 1.5rem;
         text-decoration: none;
         color: #3E3445;
         transition: all 0.5s ease-in-out;
     }

     .desc-nav:hover {
         color: #ED4255;


     }

 /********************************************************DEsctop NavigationEndt***************************/
/******************************************************** Desctop Footer Start **********************************/
    footer{
display: grid;
grid-template-columns:  1fr 1fr 1fr;

}


 }




 /********************************************************DESCTOP VRESION END***************************************************************/
